extends base/_layout
block head
    title Main
block page

    section.intro
        .intro__bg
        h1.intro__title AIA Atlanta

        .intro__container


            .intro__inspiring Inspiring communities.

            .intro__excellence Building excellence.

            p.intro__about With over 1,800 members in Metro Atlanta, AIA Atlanta advocates for the value of architects, promotes leadership, and provides architects the resources to do their best work.

            .intro__scrolldown
                span scroll down

            .intro__line-first

            .intro__line-second

    section.upcomingEvents

        .upcomingEvents__container

            .upcomingEvents__decor

                img(src="./images/upcoming-events-decor.svg" alt="")
                //- +icon('upcoming-events-picture')

            .upcomingEvents__info

                h2.upcomingEvents__title.block__title Upcoming Events

                p.upcomingEvents__subtitle Elevate your career and connections with continuing education, networking, and advocacy events.

            .upcomingEvents__slider

                .upcomingEvents__wrapper

                    include ./blocks/_upcoming-events-slide

                    include ./blocks/_upcoming-events-slide

                    include ./blocks/_upcoming-events-slide

                +slider__navigation('upcomingEvents__nav')

            +button('link', 'upcomingEvents__showAll', 'btn-red-to-black', 'All Events')


    section.memberSpotlights

        img.memberSpotlights__decor(src="./images/member-spotlights-decor.svg" alt="")

        .memberSpotlights__container

            .memberSpotlights__info

                h2.memberSpotlights__title.block__title Member Spotlights

                p.memberSpotlights__subtitle Recognizing emerging and established talent in the architecture profession.

            .memberSpotlights__slider 

                //- .memberSpotlights__decor 

                .memberSpotlights__pictures

                    .memberSpotlights__pictures-wrapper

                        .memberSpotlights__picture
                            +picture('member-spotlights-1', 'png', 'x2')

                        .memberSpotlights__picture
                            +picture('member-spotlights-2', 'png', 'x2')

                        .memberSpotlights__picture
                            +picture('member-spotlights-3', 'png', 'x2')

                .memberSpotlights__list

                    .memberSpotlights__bg

                    .memberSpotlights__descr

                        h3.memberSpotlights__name Steve Hart, AIA

                        p.memberSpotlights__about Steve Hart is a principal at HLGstudio. He received his Master of Architecture from the Georgia Institute of Technology and has worked for over 30 years in Atlanta. 

                        a.memberSpotlights__link.readmore__link(href="#") Read more

                +slider__navigation('memberSpotlights__nav')


    section.latestNews
        .latestNews__decor
            img(src="./images/latest-news-decor.svg" alt="")

        .latestNews__container
            .container
                .latestNews__wrapper

                    .latestNews__item
                        h2.latestNews__title.block__title Latest News

                    .latestNews__item
                        +button('link', 'latestNews__showAll', 'btn-red-to-white', 'All News')

                    .latestNews__item

                    .latestNews__item
                        .latestNews__content
                            .latestNews__img
                                +picture('latest-news-1', 'png', 'x2')
                            time.latestNews__published(datetime="2023-04-19") April 19, 2023
                            p.latestNews__about Knowledge Communities are recurring groups that allow members to discuss shared interests and exchange insights.
                            a.latestNews__link.readmore__link(href="#") read more

                    .latestNews__item
                        .latestNews__content
                            .latestNews__img
                                +picture('latest-news-2', 'png', 'x2')
                            time.latestNews__published(datetime="2023-04-19") April 19, 2023
                            p.latestNews__about Knowledge Communities are recurring groups that allow members to discuss shared interests and exchange insights.
                            a.latestNews__link.readmore__link(href="#") read more

                    .latestNews__item
                        .latestNews__content
                            .latestNews__img
                                +picture('latest-news-3', 'png', 'x2')
                            time.latestNews__published(datetime="2023-04-19") April 19, 2023
                            p.latestNews__about Knowledge Communities are recurring groups that allow members to discuss shared interests and exchange insights.
                            a.latestNews__link.readmore__link(href="#") read more


    section.joinOurChapter
        .joinOurChapter__container
            .container
                .joinOurChapter__wrapper 
                    .joinOurChapter__item
                        h2.joinOurChapter__title.block__title Join Our Chapter

                    .joinOurChapter__item
                        a.joinOurChapter__link(href="#")
                            svg.joinOurChapter__arrow(xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none")
                                path(d="M30.2843 1.71573L7.97717 7.6929L24.3071 24.0228L30.2843 1.71573ZM3.41421 31.4142L18.9706 15.8579L16.1421 13.0294L0.585786 28.5858L3.41421 31.4142Z" fill="#FE5C4F")
                            span.joinOurChapter__text Become a member

                        p.joinOurChapter__descr Join a communtiy designed to support your career, enhance your practice, and advance the profession. Find out which membership type is right for you.


                    .joinOurChapter__item
                        a.joinOurChapter__link(href="#")
                            svg.joinOurChapter__arrow(xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none")
                                path(d="M30.2843 1.71573L7.97717 7.6929L24.3071 24.0228L30.2843 1.71573ZM3.41421 31.4142L18.9706 15.8579L16.1421 13.0294L0.585786 28.5858L3.41421 31.4142Z" fill="#FE5C4F")
                            span.joinOurChapter__text Become a parton

                        p.joinOurChapter__descr Partner with AIA Atlanta as a leading architectural product or service provider to deliver value to members and advance their work.

    section.subscribe
        .container
            h2.subscribe__title Sign up for out beewikly newsletter. Unsubscribe anytime.

            form.subscribe__form(action="#" novalidate)

                .subscribe__wrapper

                    label.input__label
                        span.input__name First name
                        span.input__item
                            input.input(type="text")
                            span.input__error *error message

                    label.input__label
                        span.input__name Email
                        span.input__item
                            input.input(type="email" required)
                            span.input__error *error message


                +button('button', 'subscribe__submit', 'btn-red-to-white', 'Submit')










