extends base/_layout
block head
    title Main
block page

    section.intro
        h1.intro__title AIA Atlanta

        .intro__container


            .intro__inspiring Inspiring communities.

            .intro__excellence Building excellence.

            p.intro__about With over 1,800 members in Metro Atlanta, AIA Atlanta advocates for the value of architects, promotes leadership, and provides architects the resources to do their best work.

            .intro__scrolldown
                span scroll down

            .intro__line-first

            .intro__line-second
