extends base/_layout
block head
    title Main
block page

    section.intro
        h1.intro__title AIA Atlanta

        .intro__container


            .intro__inspiring Inspiring communities.

            .intro__excellence Building excellence.

            p.intro__about With over 1,800 members in Metro Atlanta, AIA Atlanta advocates for the value of architects, promotes leadership, and provides architects the resources to do their best work.

            .intro__scrolldown
                span scroll down

            .intro__line-first

            .intro__line-second

    section.upcoming-events
        .upcoming-events__decor
            +icon('upcoming-events-picture')

        .container

            .upcoming-events__info

                h2.upcoming-events__title Upcoming Events

                p.upcoming-events__subtitle Elevate your career and connections with continuing education, networking, and advocacy events.

            .upcoming-events__slider

                .upcoming-events__wrapper

                    include ./blocks/_upcoming-events-slide

                    include ./blocks/_upcoming-events-slide

                    include ./blocks/_upcoming-events-slide

                .upcoming-events__nav(aria-label="slider navigation")

                    button.upcoming-events__btn.upcoming-events__prev(aria-label="show previous slide")
                        +icon('arrow-left')

                    button.upcoming-events__btn.upcoming-events__next(aria-label="show next slide")
                        +icon('arrow-right')






