extends base/_layout
block head
    title Main
block page

    section.intro
        h1.intro__title AIA Atlanta

        .intro__container


            .intro__inspiring Inspiring communities.

            .intro__excellence Building excellence.

            p.intro__about With over 1,800 members in Metro Atlanta, AIA Atlanta advocates for the value of architects, promotes leadership, and provides architects the resources to do their best work.

            .intro__scrolldown
                span scroll down

            .intro__line-first

            .intro__line-second

    section.upcomingEvents
        .upcomingEvents__decor
            +icon('upcoming-events-picture')

        .upcomingEvents__container

            .upcomingEvents__info

                h2.upcomingEvents__title.block__title Upcoming Events

                p.upcomingEvents__subtitle.block__subtitle Elevate your career and connections with continuing education, networking, and advocacy events.

            .upcomingEvents__slider

                .upcomingEvents__wrapper

                    include ./blocks/_upcoming-events-slide

                    include ./blocks/_upcoming-events-slide

                    include ./blocks/_upcoming-events-slide

                +slider__navigation('upcomingEvents__nav')


    section.memberSpotlights

        .memberSpotlights__container

            .memberSpotlights__info

                h2.memberSpotlights__title.block__title Member Spotlights

                p.memberSpotlights__subtitle.block__subtitle Recognizing emerging and established talent in the architecture profession.

            .memberSpotlights__slider 

                .memberSpotlights__decor 

                .memberSpotlights__pictures 

                .memberSpotlights__wrapper 

                .memberSpotlights__descr

                +slider__navigation('memberSpotlights__nav')





