footer.footer
    .footer__container

        nav.footer__nav
            ul
                li: a(href="#") ABOUT
                li: a(href="#") GET INVOLVED
                li: a(href="#") SUPPORT
                li: a(href="#") EVENTS
                li: a(href="#") AWARDS & RECOGNITION
                li: a(href="#") RESOURCES


        .footer__logo
            a(href="#")
                +picture('logo', 'png', 'x2')


        .footer__buttons

            +button('link', 'footer__btn', 'btn-red', 'Become a member')

            +button('link', 'footer__btn', 'btn-white', 'Become a Patron')

            +button('link', 'footer__btn', 'btn-white', 'Contact Us')


        .footer__additional


            .footer__social 

                a(href="#")
                    include ./_icon-facebook

                a(href="#")
                    include ./_icon-twitter

                a(href="#")
                    include ./_icon-linkedin

                a(href="#")
                    include ./_icon-instagram


            p.footer__poweredBy.
                Powered by #[a(href="#") Design in DC]
