header.header
    .header__container

        .header__logo
            a(href="#")
                +picture('logo', 'png', 'x2')

        .header__menu

            nav.header__nav
                ul
                    li: a(href="#") ABOUT
                    li: a(href="#") GET INVOLVED
                    li: a(href="#") SUPPORT
                    li: a(href="#") EVENTS
                    li: a(href="#") AWARDS & RECOGNITION
                    li: a(href="#") RESOURCES

            .header__buttons

                +button('button', 'header__get-in-touch', 'btn-red', 'Get in Touch')
                +button('button', 'header__become-a-member', 'btn-red', 'Become a member')
                +button('button', 'header__become-a-patron', 'btn-white', 'Become a Patron')
                +button('button', 'header__contact-us', 'btn-white', 'Contact Us')

        .header__burger
            span
