header.header
    .header__container

        .header__logo
            a(href="#")
                +picture('logo', 'png', 'x2')

        .header__menu

            nav.header__nav
                ul
                    li: a(href="#") ABOUT
                    li: a(href="#") GET INVOLVED
                    li: a(href="#") SUPPORT
                    li: a(href="#") EVENTS
                    li: a(href="#") AWARDS & RECOGNITION
                    li: a(href="#") RESOURCES

            .header__buttons
                button.header__get-in-touch.btn.btn-red
                    span Get in Touch
                    svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M15.2847 0.857865L4.13116 3.84645L12.2961 12.0114L15.2847 0.857865ZM1.84968 15.7071L9.62786 7.92893L8.21365 6.51472L0.435471 14.2929L1.84968 15.7071Z" fill="white")

        .header__burger
            span
