.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  min-height: 75px;
  background-color: #090807;

  @include r(1199px) {
    min-height: 72px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 72px;
      background-color: #000;
    }
  }

  &.scrolled {
    box-shadow: 0 2px 8px 4px rgba(9, 8, 7, 0.2);
  }
}

.header__container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 11px 40px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include lg {
    max-width: 1220px;
  }

  @include r(1199px) {
    padding: 16px 20px 16px;
  }
}

.header__logo {
  width: 127px;
  height: 47px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include r(1199px) {
    position: relative;
    z-index: 10;
    width: 109px;
    height: 40px;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 0 24px;

  @include r(1199px) {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: block;
    padding: 116px 70px;
    background-color: #000;
    overflow-y: auto;
    transform: translateX(0);
    transition: all 0.3s ease-out;

    &.active {
      transform: translateX(100%);
    }
  }

  @include xs {
    padding: 116px 40px;
  }
}

.header__nav {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
    gap: 0 25px;
  }

  li {
    color: var(--color_white, #fff);
    font-size: 14px;
    font-weight: 800;
    line-height: 32px;
    text-transform: uppercase;
    transition: color 0.2s ease-out;

    @media (hover: hover) {
      &:hover {
        color: var(--color_red, #fa4132);
      }
    }
  }

  @include r(1199px) {
    display: block;
    margin-bottom: 87px;

    ul {
      display: block;
    }

    li {
      font-size: 16px;
      width: max-content;
    }

    li:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

// header buttons

.header__get-in-touch {
  @include r(1199px) {
    display: none;
  }
}

.header__become-a-member,
.header__become-a-patron,
.header__contact-us {
  display: none;

  @include r(1199px) {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

// header burger button

.header__burger {
  display: none;
  position: relative;
  width: 44px;
  height: 28px;
  cursor: pointer;

  span {
    position: absolute;
    right: 0;
    top: 12px;
    width: 32px;
    height: 4px;
    background-color: #fff;
    transition: all 0.2s ease-out;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 4px;
    background-color: #fff;
    transition: all 0.2s ease-out;
    transform-origin: right center;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: all 0.2s ease-out;
    transform-origin: right center;
  }

  @media (hover: hover) {
    &:hover {
      span {
        width: 100%;
      }

      &::before {
        width: 100%;
      }
    }
  }

  &.active {
    span {
      opacity: 0;
    }

    &::before,
    &::after {
      width: 100%;
    }

    &::before {
      transform: rotate(-45deg) translateY(-5px);
    }

    &::after {
      transform: rotate(45deg) translateY(5px);
    }
  }

  @include r(1199px) {
    display: block;
    position: relative;
    z-index: 10;
  }
}
