.joinOurChapter {
  background-color: #001214;

  @include sm {
    padding-bottom: 90px;
  }
}

.joinOurChapter__container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .container {
    @include sm {
      padding: 0 40px;
    }
  }

  @include xxs {
    .container {
      padding: 0 20px;
    }
  }
}

.joinOurChapter__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include sm {
    grid-template-columns: 1fr;
  }
}

.joinOurChapter__item {
  position: relative;
  min-height: 555px;
  padding: 140px 40px;

  &:nth-child(2) {
    // first vertical
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: #797979;
    }

    // second vertical
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: #797979;
    }
  }

  @include r(1270px) {
    min-height: 530px;
    padding: 100px 40px;
  }

  @include sm {
    min-height: auto;
    padding: 0;

    &:nth-child(1) {
      padding: 100px 0 20px;
    }

    &:not(:first-child) {
      padding: 60px 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-30%);
        height: 1px;
        width: 150vw;
        background: linear-gradient(
          90deg,
          #fff 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }

    &:nth-child(2) {
      &::after,
      &::before {
        display: none;
      }
    }
  }

  @include xxs {
    &:not(:first-child) {
      padding: 63px 0;
    }
  }
}

// join-our-chapter content

.joinOurChapter__title {
  max-width: 227px;
  // margin-left: 30px;
  color: var(--color_white, #fff);
}

.joinOurChapter__link {
  display: block;
  margin-bottom: 24px;
  cursor: pointer;

  @include sm {
    max-width: max-content;
  }
}

.joinOurChapter__link:hover {
  .joinOurChapter__arrow {
    transform: rotate(45deg);

    path {
      fill: #fff;
    }
  }

  .joinOurChapter__text {
    color: var(--color_white, #fff);
  }
}

.joinOurChapter__arrow,
.joinOurChapter__arrow path,
.joinOurChapter__text {
  transition: all 0.2s ease-out;
}

.joinOurChapter__arrow {
  display: block;
  margin-bottom: 32px;
}

.joinOurChapter__text {
  color: var(--color_red, #fa4132);
  font-size: 32px;
  font-weight: 500;
}

.joinOurChapter__descr {
  color: var(--color_white, #fff);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;

  @include sm {
    max-width: 550px;
  }
}
