.latestNews {
  position: relative;
  background-color: #000;
  // overflow-x: hidden;

  @include sm {
    padding-bottom: 61px;
  }
}

.latestNews__decor {
  position: absolute;
  left: -80px;
  bottom: -290px;
  width: 653px;
  height: 550px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include lg {
    left: -160px;
  }

  @include xs {
    width: 368px;
    height: 310px;
    left: -85px;
    bottom: -220px;
  }
}

.latestNews__container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .container {
    @include sm {
      padding: 0 40px;
    }
  }

  @include xxs {
    .container {
      padding: 0 20px;
    }
  }
}

.latestNews__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include sm {
    grid-template-columns: 1fr;
  }
}

.latestNews__item {
  position: relative;
  min-height: 360px;

  // first item
  &:nth-child(1) {
    // first vertical gradient
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -1px;
      width: 1px;
      height: 100%;
      background: linear-gradient(0, #797979 0%, rgba(121, 121, 121, 0) 100%);
    }
  }

  // every 3rd item starting with 4
  &:nth-child(3n + 4) {
    // horisontal
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-30%);
      height: 1px;
      width: 150vw;
      background-color: #797979;
    }
  }

  // every 3rd item starting with 5
  &:nth-child(3n + 5) {
    // first vertical
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: #797979;
    }

    // second vertical
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: #797979;
    }
  }
}

// max-width 991px
.latestNews__item {
  @include sm {
    min-height: auto;
    // first item
    &:nth-child(1) {
      // first vertical gradient
      &::before {
        display: none;
      }
    }

    // every 3rd item starting with 4
    &:nth-child(3n + 4) {
      // horisontal
      &::after {
        display: none;
      }
    }

    // every 3rd item starting with 5
    &:nth-child(3n + 5) {
      // first vertical
      &::after {
        display: none;
      }

      // second vertical
      &::before {
        display: none;
      }
    }

    &:nth-child(3) {
      display: none;
    }

    // set new borders

    // horisontal gradients for every item from 5
    &:nth-child(n + 5) {
      &::after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-30%);
        height: 1px;
        width: 150vw;
        // background-color: #797979;
        background: linear-gradient(
          90deg,
          #fff 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
  }
}

// latestNees content

.latestNews__title {
  max-width: 142px;
  margin-top: 120px;
  margin-left: 40px;
  color: var(--color_white, #fff);

  @include sm {
    margin: 0 0 20px 0;
    padding-top: 60px;
  }
}

.latestNews__showAll {
  margin: 225px 0 0 40px;
  font-size: 16px;

  @include sm {
    margin: 0;
  }
}

.latestNews__content {
  padding: 80px 40px 118px;

  @include lg {
    padding: 80px 40px 90px;
  }

  @include sm {
    padding: 60px 0;
  }

  @include xxs {
    padding: 60px 0 70px;
  }
}

.latestNews__img {
  position: relative;
  width: 100%;
  max-width: 380px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 52.63%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include lg {
    &::after {
      padding-top: 61.35%;
    }
  }

  @include sm {
    max-width: 500px;
  }

  @include xxs {
    &::after {
      padding-top: 55.56%;
    }
  }
}

.latestNews__published {
  display: inline-block;
  margin-top: 20px;
  color: var(--text_white, var(--text_white, #fff));
  font-size: 14px;
  font-weight: 800;
  line-height: 32px;
  text-transform: uppercase;
}

.latestNews__about {
  margin-top: 12px;
  color: var(--text_white, var(--text_white, #fff));
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;

  @include sm {
    max-width: 550px;
  }
}

.latestNews__link {
  display: inline-block;
  margin-top: 31px;
  color: var(--color_red, #fa4132);
  font-size: 16px;
  font-weight: 800;
  line-height: 32px;
  text-transform: uppercase;

  &::after {
    background-color: var(--color_red, #fa4132);
  }
}
