.memberSpotlights {
  position: relative;
  margin-bottom: 258px;
  overflow: hidden;
}

.memberSpotlights__decor {
  position: absolute;
  right: -99px;
  top: -191px;
  width: 554px;
  height: 554px;
}

.memberSpotlights__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px 0 123px;
}

.memberSpotlights__info {
  margin-bottom: 60px;
}

.memberSpotlights__title {
  max-width: 378px;
  margin-bottom: 20px;
}

.memberSpotlights__subtitle {
  max-width: 350px;
  color: var(--text-body, rgba(0, 0, 0, 0.72));
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.memberSpotlights__slider {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.memberSpotlights__pictures {
  position: relative;
  top: 12px;
  width: 100%;
  max-width: 413px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
  }
}

.memberSpotlights__pictures-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.memberSpotlights__picture {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;

  &:nth-child(1) {
    z-index: 3;
  }

  &:nth-child(2) {
    z-index: 2;
    transform: translate(32px, 36px);
  }

  &:nth-child(3) {
    z-index: 1;
    transform: translate(59px, 62px);
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.memberSpotlights__list {
  position: relative;
  flex-grow: 1;
  min-height: 648px;
  padding-left: 264px;
}

.memberSpotlights__bg {
  position: absolute;
  top: -184px;
  left: -5px;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-color: var(--color_azure, #007d8a);
}

.memberSpotlights__descr {
  max-width: 520px;
  color: var(--color_white, #fff);
}

.memberSpotlights__name {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 500;
}

.memberSpotlights__about {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.memberSpotlights__link {
  font-size: 16px;
  font-weight: 800;
  line-height: 32px;
  text-transform: uppercase;
}

.memberSpotlights__nav {
  position: absolute;
  top: 264px;
  left: 676px;
  z-index: 2;
}
