.memberSpotlights {
  position: relative;
  margin-bottom: 252px;
  overflow: hidden;

  @include sm {
    margin-bottom: 161px;
  }
}

.memberSpotlights__decor {
  position: absolute;
  right: -99px;
  top: -191px;
  width: 554px;
  height: 554px;

  @include r(1480px) {
    right: -259px;
  }

  @include lg {
    right: -210px;
    top: -239px;
  }

  @include r(1270px) {
    top: -219px;
  }

  @include sm {
    display: none;
  }
}

.memberSpotlights__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 123px 0 120px;

  @include r(1270px) {
    padding: 0 70px;
  }

  @include md {
    padding: 0 40px;
  }

  @include sm {
    padding: 0 20px 0 0;
  }
}

.memberSpotlights__info {
  margin-bottom: 60px;

  @include r(1270px) {
    margin-left: 53px;
  }

  @include sm {
    margin-left: 73px;
  }

  @include xs {
    margin-bottom: 40px;
    margin-left: 40px;
  }

  @include xxs {
    margin-left: 20px;
  }
}

.memberSpotlights__title {
  max-width: 378px;
  margin-bottom: 22px;
}

.memberSpotlights__subtitle {
  max-width: 350px;
  color: var(--text-body, rgba(0, 0, 0, 0.72));
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;

  @include sm {
    max-width: 410px;
    font-size: 20px;
    line-height: 28px;
  }
}

.memberSpotlights__slider {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-bottom: 80px;

  @include sm {
    display: block;
    padding-bottom: 0;
  }
}

.memberSpotlights__pictures {
  position: relative;
  top: 12px;
  width: 100%;
  max-width: 413px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
  }

  @include sm {
    top: 0;
    width: 315px;
    margin: 0 0 0 auto;
  }

  @include r(399px) {
    width: 235px;
  }
}

.memberSpotlights__pictures-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.memberSpotlights__picture {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;

  &:nth-child(1) {
    z-index: 3;
  }

  &:nth-child(2) {
    z-index: 2;
    transform: translate(32px, 36px);
    // top: 36px;
    // left: 32px;
  }

  &:nth-child(3) {
    z-index: 1;
    transform: translate(59px, 62px);
    // top: 62px;
    // left: 59px;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include sm {
    &:nth-child(2) {
      transform: translate(-20px, 27px);
      // top: 27px;
      // left: unset;
      // right: 20px;
    }

    &:nth-child(3) {
      transform: translate(0, 48px);
      // top: 48px;
      // left: 0;
    }

    &:nth-child(1) {
      transform: translate(-45px, 0);
      // right: 45px;
    }
  }
}

.memberSpotlights__list {
  position: relative;
  flex-grow: 1;
  padding-left: 267px;
  padding-bottom: 200px;

  @include lg {
    padding-left: 138px;
  }

  @include sm {
    padding: 10px 20px 162px 40px;
    background-color: var(--color_azure, #007d8a);
  }

  @include xs {
    padding: 60px 20px 162px 40px;
  }

  @include xxs {
    padding: 108px 20px 162px 20px;
  }
}

.memberSpotlights__bg {
  position: absolute;
  top: -184px;
  left: -5px;
  z-index: -1;
  width: 100vw;
  height: 100%;
  min-height: 648px;
  background-color: var(--color_azure, #007d8a);

  @include lg {
    left: -8px;
  }

  @include r(1270px) {
    top: -134px;
    min-height: 600px;
  }

  @include sm {
    left: unset;
    right: 0;
    top: -165px;
    bottom: 0;
    width: 100vw;
    min-height: 490px;
  }

  @include xs {
    min-height: 520px;
  }

  @include xxs {
    min-height: 684px;
  }
}

.memberSpotlights__descr {
  max-width: 520px;
  color: var(--color_white, #fff);
}

.memberSpotlights__name {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 500;
}

.memberSpotlights__about {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.memberSpotlights__link {
  font-size: 16px;
  font-weight: 800;
  line-height: 32px;
  text-transform: uppercase;
}

.memberSpotlights__nav {
  position: absolute;
  left: 678px;
  bottom: 207px;
  z-index: 2;

  @include lg {
    left: 549px;
  }

  @include sm {
    left: 40px;
    bottom: 69px;
  }

  @include xxs {
    left: 20px;
  }
}
