@font-face {
  font-family: "Architype";
  src: url("../fonts/Architype-Light.woff2") format("woff2"),
    url("../fonts/Architype-Light.woff") format("woff"),
    url("../fonts/Architype-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Architype";
  src: url("../fonts/Architype-Bold.woff2") format("woff2"),
    url("../fonts/Architype-Bold.woff") format("woff"),
    url("../fonts/Architype-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
