@use 'sass:math';

%svg-common {
	background: url("../images/sprites/main.svg") no-repeat;
}

.svg-image-arrow-left {
	@extend %svg-common;
	background-position: 0 0;
	background-size: math.div(34, 34)*100% auto;
	width: 34px;

}
@mixin svg-pos-image-arrow-left {
	background-position: 0 0;
}
@mixin svg-image-arrow-left-hover {
	.svg-image-arrow-left {
		@include svg-pos-image-arrow-left-hover
	}
}

.svg-image-arrow-left:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(14, 34)*100%;
}

.svg-image-arrow-left-dims {
	width: 34px;
	height: 14px;
}

.svg-image-arrow-right {
	@extend %svg-common;
	background-position: 0 100%;
	background-size: math.div(34, 34)*100% auto;
	width: 34px;

}
@mixin svg-pos-image-arrow-right {
	background-position: 0 100%;
}
@mixin svg-image-arrow-right-hover {
	.svg-image-arrow-right {
		@include svg-pos-image-arrow-right-hover
	}
}

.svg-image-arrow-right:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(14, 34)*100%;
}

.svg-image-arrow-right-dims {
	width: 34px;
	height: 14px;
}


.image-by-height { width:auto; }
.image-by-height:before { content:none; }
.image-by-height > svg { height: inherit; }
.image-by-height > img { height: inherit !important; vertical-align: top !important; margin: 0 !important; padding: 0 !important; max-width: none !important; max-height: none !important; border: 0 !important; opacity: 0 !important; }