// Grid
$width_lg: 1170px;
$width_md: 991px;
$width_xs: 767px;
$width_mob: 500px;

$grid-width: 1170px;
$grid-gutter: 30px;
$grid-columns: 12;

:root {
  // fonts
  --main_font: "Architype", sans-serif;

  // colors
  --color_white: #fff;
  --color_black: #000;
  --color_red: #fa4132;
  --color_red_error: #fe5c4f;
  --color_azure: #007d8a;
  --color_orange: #f2c75c;
  --color_light_blue: #d3e0ec;
}
